#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
#*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem
**/.terragrunt-cache/*

#terraform-CD.yml
#backend.tf